.profile__describle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 960px) {
  .profile__describle {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__describle {
    font-size: 14px;
    line-height: 17px;
  }
}

