.gallery__like {
  padding: 5px 0 0 0;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  margin-top: 5px;
  margin-right: 20px;
  transition: 0.5s;
} 

.gallery__like:hover {
  opacity: 0.5;
}
